.container {
  width: 100%;
  padding: 24px;
  text-align: center;
}

.copy {
  margin-top: 16px;
}

.copy > p {
  color: rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 40px;
  }
}
