.container {
  width: 100%;
  padding: 32px;
  text-align: center;
}

.text {
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
}

.textBig {
  font-size: 32px;
  font-weight: 700;
}

.textSmall {
  font-weight: 300;
  font-size: 18px;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 40px;
    text-align: start;
  }

  .textBig {
    font-size: 40px;
  }

  .textSmall {
    font-size: 20px;
  }
}
